In [13]:
!python -m pip install "pymongo[srv]"

Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.10/dist-packages (4.6.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo[srv]) (2.6.1)

In [14]:
import pandas as pd
import numpy as np
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
import urllib

#set up the connection with mongo DB
encoded_username = urllib.parse.quote_plus("dummy_user")
encoded_password = urllib.parse.quote_plus("Amarnath@06022014")
uri = f"mongodb+srv://{encoded_username}:{encoded_password}@cluster0.inzqiif.mongodb.net/?retryWrites=true&w=majority"
client = MongoClient(uri, server_api=ServerApi('1'))

#Send a ping to confirm a successful connection

try:
  client.admin.command('ping')
  print("Pinged your deployment. You successfully connected to MongoDB")
except Exception as e:
  print(e)

Pinged your deployment. You successfully connected to MongoDB

In [18]:
#Display up t 500 columns. Prevent truncation of shown colums
pd.set_option('display.max_columns',500)

In [19]:
database = client["sample_airbnb"]
collection = database["listingsAndReviews"]

In [20]:
data=list(database.listingsAndReviews.find())
df=pd.DataFrame(data)

In [21]:
df.iloc[0]

_id                                                               10069642
listing_url                          https://www.airbnb.com/rooms/10069642
name                                    Ótimo Apto proximo Parque Olimpico
summary                  Apartamento próximo ao centro dos Jogos Olímpi...
space
description              Apartamento próximo ao centro dos Jogos Olímpi...
neighborhood_overview
notes
transit
access
interaction
house_rules
property_type                                                    Apartment
room_type                                                  Entire home/apt
bed_type                                                          Real Bed
minimum_nights                                                          15
maximum_nights                                                          20
cancellation_policy                            strict_14_with_grace_period
last_scraped                                           2019-02-11 05:00:00
calendar_last_scraped                                  2019-02-11 05:00:00
accommodates                                                             5
bedrooms                                                               2.0
beds                                                                   2.0
number_of_reviews                                                        0
bathrooms                                                              2.0
amenities                [TV, Cable TV, Internet, Wifi, Air conditionin...
price                                                               858.00
security_deposit                                                   4476.00
cleaning_fee                                                        112.00
extra_people                                                         75.00
guests_included                                                          1
images                   {'thumbnail_url': '', 'medium_url': '', 'pictu...
host                     {'host_id': '51670240', 'host_url': 'https://w...
address                  {'street': 'Rio de Janeiro, Rio de Janeiro, Br...
availability             {'availability_30': 0, 'availability_60': 0, '...
review_scores                                                           {}
reviews                                                                 []
first_review                                                           NaT
last_review                                                            NaT
weekly_price                                                           NaN
monthly_price                                                          NaN
reviews_per_month                                                      NaN
Name: 0, dtype: object

In [22]:
airbnb_data = []
for i in collection.find():
    data = dict(Id = i['_id'],
                Name = i.get('name'),
                Description = i['description'],
                Property_type = i['property_type'],
                Room_type = i['room_type'],
                Bed_type = i['bed_type'],
                Min_nights = i['minimum_nights'],
                Max_nights = i['maximum_nights'],
                Cancellation_policy = i['cancellation_policy'],
                Accomodates = i['accommodates'],
                Total_bedrooms = i.get('bedrooms'),
                Total_beds =  i.get('beds'),
                Availability_365 = i['availability']['availability_365'],
                Price = i['price'],
                Security_deposit = i.get('security_deposit'),
                Cleaning_fee = i.get('cleaning_fee'),
                Extra_people = i['extra_people'],
                Guests_included= i['guests_included'],
                calculated_host_listing_count = i['host']['host_listings_count'],
                neighbourhood = i['host']['host_neighbourhood'],
                No_of_reviews = i['number_of_reviews'],
                Review_scores = i['review_scores'].get('review_scores_rating'),
                Amenities = ', '.join(i['amenities']),
                Host_id = i['host']['host_id'],
                Host_name = i['host']['host_name'],
                Street = i['address']['street'],
                Country = i['address']['country'],
                Country_code = i['address']['country_code'],
                City = i['address']['market'],
                Location_type = i['address']['location']['type'],
                Longitude = i['address']['location']['coordinates'][0],
                Latitude = i['address']['location']['coordinates'][1])
    airbnb_data.append(data)

In [23]:
df = pd.DataFrame(airbnb_data)

In [24]:
df.sample(5)

,Id,Name,Description,Property_type,Room_type,Bed_type,Min_nights,Max_nights,Cancellation_policy,Accomodates,Total_bedrooms,Total_beds,Availability_365,Price,Security_deposit,Cleaning_fee,Extra_people,Guests_included,calculated_host_listing_count,neighbourhood,No_of_reviews,Review_scores,Amenities,Host_id,Host_name,Street,Country,Country_code,City,Location_type,Longitude,Latitude
3540,28463956,Modern Apartment - Porto Center OLD TOWN,Recently renovated apartment with modern archi...,Apartment,Entire home/apt,Real Bed,2,1125,strict_14_with_grace_period,4,2.0,3.0,3,40.00,0.00,15.00,15.00,2,2,,8,95.0,"TV, Wifi, Kitchen, Elevator, Heating, Washer, ...",43972108,Maggie,"Porto, Porto, Portugal",Portugal,PT,Porto,Point,-8.618070,41.141490
1666,19741944,Habitación individual.,"Habitación individual en piso compartido, muy ...",Apartment,Private room,Real Bed,1,7,moderate,1,1.0,1.0,297,14.00,100.00,15.00,0.00,1,5,el Fort Pienc,17,80.0,"TV, Wifi, Elevator, Heating, First aid kit, Es...",122832931,Jordi,"Barcelona, Catalunya, Spain",Spain,ES,Barcelona,Point,2.186280,41.398110
1892,20116519,"Linda Vista na Reserva, Barra da Tijuca",Apartamento 100% privado e de uso exclusivo do...,Apartment,Entire home/apt,Real Bed,3,1125,moderate,6,2.0,4.0,70,149.00,2000.00,150.00,0.00,1,3,Vila Clementino,44,94.0,"TV, Cable TV, Wifi, Air conditioning, Pool, Ki...",69109593,Cassio,"Barra da Tijuca, Rio de Janeiro, Brazil",Brazil,BR,Rio De Janeiro,Point,-43.428103,-23.008848
3190,28301490,Loti Single Room,"Hotel Pierre Loti, in Sultanahmet, welcomes it...",Hotel,Private room,Real Bed,1,1125,flexible,1,1.0,1.0,360,833.00,0.00,0.00,0.00,1,3,Sultanahmet,0,NaN,"TV, Wifi, Air conditioning, Kitchen, Breakfast...",213722172,Merve,"Fatih, İstanbul, Turkey",Turkey,TR,Istanbul,Point,28.973550,41.008600
5025,685373,@CausewayBayMTR/TimeSq.★Near HKCEC,This 2 bedroom apartment is just located at 30...,Condominium,Entire home/apt,Real Bed,3,10000,strict_14_with_grace_period,7,2.0,3.0,286,1162.00,1963.00,416.00,157.00,4,1,Wan Chai,102,94.0,"TV, Cable TV, Internet, Wifi, Air conditioning...",3495738,Carmen,"Hong Kong, Hong Kong Island, Hong Kong",Hong Kong,HK,Hong Kong,Point,114.179310,22.280200

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 32 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Id                             5555 non-null   object
 1   Name                           5555 non-null   object
 2   Description                    5555 non-null   object
 3   Property_type                  5555 non-null   object
 4   Room_type                      5555 non-null   object
 5   Bed_type                       5555 non-null   object
 6   Min_nights                     5555 non-null   object
 7   Max_nights                     5555 non-null   object
 8   Cancellation_policy            5555 non-null   object
 9   Accomodates                    5555 non-null   int64
 10  Total_bedrooms                 5550 non-null   float64
 11  Total_beds                     5542 non-null   float64
 12  Availability_365               5555 non-null   int64
 13  Price                          5555 non-null   object
 14  Security_deposit               3471 non-null   object
 15  Cleaning_fee                   4024 non-null   object
 16  Extra_people                   5555 non-null   object
 17  Guests_included                5555 non-null   object
 18  calculated_host_listing_count  5555 non-null   int64
 19  neighbourhood                  5555 non-null   object
 20  No_of_reviews                  5555 non-null   int64
 21  Review_scores                  4081 non-null   float64
 22  Amenities                      5555 non-null   object
 23  Host_id                        5555 non-null   object
 24  Host_name                      5555 non-null   object
 25  Street                         5555 non-null   object
 26  Country                        5555 non-null   object
 27  Country_code                   5555 non-null   object
 28  City                           5555 non-null   object
 29  Location_type                  5555 non-null   object
 30  Longitude                      5555 non-null   float64
 31  Latitude                       5555 non-null   float64
dtypes: float64(5), int64(4), object(23)
memory usage: 1.4+ MB

In [26]:
df.columns

Index(['Id', 'Name', 'Description', 'Property_type', 'Room_type', 'Bed_type',
       'Min_nights', 'Max_nights', 'Cancellation_policy', 'Accomodates',
       'Total_bedrooms', 'Total_beds', 'Availability_365', 'Price',
       'Security_deposit', 'Cleaning_fee', 'Extra_people', 'Guests_included',
       'calculated_host_listing_count', 'neighbourhood', 'No_of_reviews',
       'Review_scores', 'Amenities', 'Host_id', 'Host_name', 'Street',
       'Country', 'Country_code', 'City', 'Location_type', 'Longitude',
       'Latitude'],
      dtype='object')

In [27]:
df.isnull().sum()

Id                                  0
Name                                0
Description                         0
Property_type                       0
Room_type                           0
Bed_type                            0
Min_nights                          0
Max_nights                          0
Cancellation_policy                 0
Accomodates                         0
Total_bedrooms                      5
Total_beds                         13
Availability_365                    0
Price                               0
Security_deposit                 2084
Cleaning_fee                     1531
Extra_people                        0
Guests_included                     0
calculated_host_listing_count       0
neighbourhood                       0
No_of_reviews                       0
Review_scores                    1474
Amenities                           0
Host_id                             0
Host_name                           0
Street                              0
Country                             0
Country_code                        0
City                                0
Location_type                       0
Longitude                           0
Latitude                            0
dtype: int64

In [28]:
#Datatype mismatch
df[['Id','Min_nights', 'Max_nights','Host_id']] = df[['Id','Min_nights', 'Max_nights','Host_id']].astype('int64')

In [29]:
df.Price = df.Price.astype(str).astype(float)
df.Security_deposit = df.Security_deposit[~df.Security_deposit.isna()].astype(str).astype(float)
df.Cleaning_fee = df.Cleaning_fee[~df.Cleaning_fee.isna()].astype(str).astype(float)
df.Extra_people = df.Extra_people.astype(str).astype(float)
df.Guests_included = df.Guests_included.astype(str).astype('float')
df.Review_scores = df.Review_scores.astype('Int64')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 32 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Id                             5555 non-null   int64
 1   Name                           5555 non-null   object
 2   Description                    5555 non-null   object
 3   Property_type                  5555 non-null   object
 4   Room_type                      5555 non-null   object
 5   Bed_type                       5555 non-null   object
 6   Min_nights                     5555 non-null   int64
 7   Max_nights                     5555 non-null   int64
 8   Cancellation_policy            5555 non-null   object
 9   Accomodates                    5555 non-null   int64
 10  Total_bedrooms                 5550 non-null   float64
 11  Total_beds                     5542 non-null   float64
 12  Availability_365               5555 non-null   int64
 13  Price                          5555 non-null   float64
 14  Security_deposit               3471 non-null   float64
 15  Cleaning_fee                   4024 non-null   float64
 16  Extra_people                   5555 non-null   float64
 17  Guests_included                5555 non-null   float64
 18  calculated_host_listing_count  5555 non-null   int64
 19  neighbourhood                  5555 non-null   object
 20  No_of_reviews                  5555 non-null   int64
 21  Review_scores                  4081 non-null   Int64
 22  Amenities                      5555 non-null   object
 23  Host_id                        5555 non-null   int64
 24  Host_name                      5555 non-null   object
 25  Street                         5555 non-null   object
 26  Country                        5555 non-null   object
 27  Country_code                   5555 non-null   object
 28  City                           5555 non-null   object
 29  Location_type                  5555 non-null   object
 30  Longitude                      5555 non-null   float64
 31  Latitude                       5555 non-null   float64
dtypes: Int64(1), float64(9), int64(8), object(14)
memory usage: 1.4+ MB

In [31]:
#Calculate the percentage of missing values and sort
round(df.isnull().sum()/len(df)*100,2).sort_values(ascending = False)

Security_deposit                 37.52
Cleaning_fee                     27.56
Review_scores                    26.53
Total_beds                        0.23
Total_bedrooms                    0.09
Id                                0.00
calculated_host_listing_count     0.00
No_of_reviews                     0.00
Amenities                         0.00
Host_id                           0.00
Host_name                         0.00
Street                            0.00
Country                           0.00
Country_code                      0.00
City                              0.00
Location_type                     0.00
Longitude                         0.00
neighbourhood                     0.00
Extra_people                      0.00
Guests_included                   0.00
Name                              0.00
Price                             0.00
Availability_365                  0.00
Accomodates                       0.00
Cancellation_policy               0.00
Max_nights                        0.00
Min_nights                        0.00
Bed_type                          0.00
Room_type                         0.00
Property_type                     0.00
Description                       0.00
Latitude                          0.00
dtype: float64

In [ ]:
#filling null value
#df.Total_bedrooms.fillna(df.Total_bedrooms.mode()[0],inplace=True)
#df.Total_beds.fillna(df.Total_beds.median(),inplace= True)
#df.Review_scores.fillna(df.Review_scores.median(),inplace=True)

In [32]:
#filling null value
df.Total_bedrooms.fillna(df.Total_bedrooms.mode()[0],inplace=True)
df.Total_beds.fillna(df.Total_beds.median(),inplace=True)
df.Security_deposit .fillna(df.Security_deposit.median(),inplace=True)
df.Review_scores.fillna(df.Review_scores.median(),inplace=True)
df.Cleaning_fee.fillna(df.Cleaning_fee.median(),inplace=True)

In [34]:
#df.City.fillna(df.City.median(),inplace=True)
df["City"].fillna( method ='ffill', limit = 1, inplace = True)

In [51]:
df.neighbourhood.replace(to_replace = '',value = 'Not availiable',inplace = True)
df.City.replace(to_replace = '',value = 'Not availiable',inplace = True)

In [52]:
#Datatype mismatch
df[['Total_bedrooms','Total_beds','Availability_365']] = df[['Total_bedrooms','Total_beds','Availability_365']].astype('int64')

In [53]:
df.isna().sum()

Id                               0
Name                             0
Description                      0
Property_type                    0
Room_type                        0
Bed_type                         0
Min_nights                       0
Max_nights                       0
Cancellation_policy              0
Accomodates                      0
Total_bedrooms                   0
Total_beds                       0
Availability_365                 0
Price                            0
Security_deposit                 0
Cleaning_fee                     0
Extra_people                     0
Guests_included                  0
calculated_host_listing_count    0
neighbourhood                    0
No_of_reviews                    0
Review_scores                    0
Amenities                        0
Host_id                          0
Host_name                        0
Street                           0
Country                          0
Country_code                     0
City                             0
Location_type                    0
Longitude                        0
Latitude                         0
dtype: int64

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5529 entries, 0 to 5528
Data columns (total 32 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Id                             5529 non-null   int64
 1   Name                           5529 non-null   object
 2   Description                    5529 non-null   object
 3   Property_type                  5529 non-null   object
 4   Room_type                      5529 non-null   object
 5   Bed_type                       5529 non-null   object
 6   Min_nights                     5529 non-null   int64
 7   Max_nights                     5529 non-null   int64
 8   Cancellation_policy            5529 non-null   object
 9   Accomodates                    5529 non-null   int64
 10  Total_bedrooms                 5529 non-null   int64
 11  Total_beds                     5529 non-null   int64
 12  Availability_365               5529 non-null   int64
 13  Price                          5529 non-null   float64
 14  Security_deposit               5529 non-null   float64
 15  Cleaning_fee                   5529 non-null   float64
 16  Extra_people                   5529 non-null   float64
 17  Guests_included                5529 non-null   float64
 18  calculated_host_listing_count  5529 non-null   int64
 19  neighbourhood                  5529 non-null   object
 20  No_of_reviews                  5529 non-null   int64
 21  Review_scores                  5529 non-null   Int64
 22  Amenities                      5529 non-null   object
 23  Host_id                        5529 non-null   int64
 24  Host_name                      5529 non-null   object
 25  Street                         5529 non-null   object
 26  Country                        5529 non-null   object
 27  Country_code                   5529 non-null   object
 28  City                           5529 non-null   object
 29  Location_type                  5529 non-null   object
 30  Longitude                      5529 non-null   float64
 31  Latitude                       5529 non-null   float64
dtypes: Int64(1), float64(7), int64(10), object(14)
memory usage: 1.4+ MB

In [55]:
#checking Duplicate records
df[df.duplicated]

Empty DataFrame
Columns: [Id, Name, Description, Property_type, Room_type, Bed_type, Min_nights, Max_nights, Cancellation_policy, Accomodates, Total_bedrooms, Total_beds, Availability_365, Price, Security_deposit, Cleaning_fee, Extra_people, Guests_included, calculated_host_listing_count, neighbourhood, No_of_reviews, Review_scores, Amenities, Host_id, Host_name, Street, Country, Country_code, City, Location_type, Longitude, Latitude]
Index: []

In [56]:
df.drop(labels=list(df[df.Name.duplicated(keep=False)].index),inplace=True)

In [57]:
df.reset_index(drop=True,inplace=True)

In [58]:
df['Country'].unique()

array(['Brazil', 'Hong Kong', 'United States', 'Canada', 'Portugal',
       'Spain', 'Turkey', 'Australia', 'China'], dtype=object)

In [60]:
df['Room_type'].unique()

array(['Entire home/apt', 'Private room', 'Shared room'], dtype=object)

In [61]:
df['City'].unique()

array(['Rio De Janeiro', 'Hong Kong', 'New York', 'Oahu', 'Montreal',
       'Porto', 'Barcelona', 'Istanbul', 'Sydney', 'The Big Island',
       'Maui', 'Kauai', 'Not availiable', 'Other (Domestic)',
       'Other (International)'], dtype=object)

In [62]:
df['neighbourhood'].value_counts()

Not avalible            1905
Copacabana               124
Le Plateau               122
Mong Kok                  90
Waikiki                   76
                        ...
Meatpacking District       1
Irajá                      1
Stapleton                  1
Fenway/Kenmore             1
Tompkinsville              1
Name: neighbourhood, Length: 447, dtype: int64

In [63]:
df['Country'].value_counts()

United States    1220
Turkey            650
Canada            646
Spain             631
Australia         610
Brazil            605
Hong Kong         598
Portugal          550
China              19
Name: Country, dtype: int64

In [64]:
df['Property_type'].value_counts

<bound method IndexOpsMixin.value_counts of 0               Apartment
1               Apartment
2               Apartment
3               Apartment
4             Condominium
              ...
5524                House
5525                House
5526                House
5527    Bed and breakfast
5528            Townhouse
Name: Property_type, Length: 5529, dtype: object>

In [65]:
df['Property_type'].unique()

array(['Apartment', 'Condominium', 'House', 'Loft', 'Serviced apartment',
       'Guesthouse', 'Hostel', 'Bed and breakfast', 'Treehouse',
       'Bungalow', 'Guest suite', 'Townhouse', 'Cabin', 'Villa', 'Other',
       'Chalet', 'Farm stay', 'Boutique hotel', 'Boat', 'Earth house',
       'Cottage', 'Aparthotel', 'Resort', 'Tiny house', 'Nature lodge',
       'Casa particular (Cuba)', 'Hotel', 'Hut', 'Camper/RV', 'Barn',
       'Heritage hotel (India)', 'Pension (South Korea)', 'Campsite',
       'Houseboat', 'Castle', 'Train'], dtype=object)

In [66]:
df['Room_type'].value_counts()

Entire home/apt    3478
Private room       1968
Shared room          83
Name: Room_type, dtype: int64

In [67]:
df['Review_scores'].value_counts()

95     1718
100     982
98      291
96      285
97      281
93      244
94      223
90      210
99      188
80      166
92      157
89      113
91      112
87       97
88       77
85       55
86       47
84       43
60       40
83       39
70       25
82       19
20       15
81       12
78       11
40       10
75       10
76        9
73        8
79        8
74        5
72        5
67        5
71        4
65        3
77        3
68        3
69        2
50        2
53        1
64        1
Name: Review_scores, dtype: Int64

In [68]:
df.to_csv('airbnb_cleaned_data.csv',index=False)